/* Admin2.css */
.admin2-container {
  font-family: "Arial", sans-serif;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(135deg, rgba(233, 251, 238, 0.9), rgb(140, 234, 219));
  min-height: 700px;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.admin2-container:hover {
  transform: scale(1.02);
}

.admin2-container h1 {
  font-size: 36px;
  color: #007bff;
  text-align: center;
  margin-bottom: 20px;
}

.court-details {
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.court-details h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.court-details p {
  font-size: 18px;
  margin: 5px 0;
}

.court-details img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 15px;
}

.update-court {
  margin-top: 30px;
  padding: 20px;
  background: rgb(233, 251, 241);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.update-court h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #007bff;
  text-transform: uppercase;
  font-weight: bold;
}

.update-court input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

.update-court input:focus {
  border-color: #007bff;
  outline: none;
}

.update-court .update-button,
.update-court .delete-button {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.update-court .update-button {
  background-color: #28a745;
  color: white;
}

.update-court .update-button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.update-court .delete-button {
  background-color: #dc3545;
  color: white;
}

.update-court .delete-button:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

.delete-court {
  margin-top: 30px;
}

.delete-court h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #dc3545;
}
